p {
  color: red;
}

body {
  background-image: url('https://static.wikia.nocookie.net/bioshock/images/b/b8/BaSE1_Rapture_1958.png/revision/latest?cb=20160110172354');
}

.grid-container {
display: grid;
grid-template-columns: auto auto auto;
background-color: #2196F3;
padding: 10px;
}
.grid-item {
background-color: rgba(255, 255, 255, 0.8);
border: 1px solid rgba(0, 0, 0, 0.8);
padding: 20px;
font-size: 30px;
text-align: center;
}
